body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .space-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(ellipse at bottom, #05040b 0%, #000000 100%);
    animation: spaceAnimation 30s infinite;
    opacity: 0.8;
  }
  
  .star {
    position: absolute;
    border-radius: 50%;
    background: #fff;
    animation: twinkling 3s infinite;
  }

  .container{
    width: 70%;
    text-align: center;
  }
  
  @keyframes spaceAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes twinkling {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }

  h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
  }
  
  span {
    font-size: 20px;
    color: #444;
  }
  
  select,
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e67e22;
  }
  
  #resultado {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }